# Ignore node_modules directory
node_modules/*

# Ignore private keys
*.key
*.pem

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore specific files or directories
secret-config.json

#Ignore all files in uploads directory
uploads/*